<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</header>
<body>
    <div class="ietvars"><!--pelēkais laukums-->
        <div class="galviene"><!--virsraksts un meņuška-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par projektu</a></li>
            </ul>
        </div><!--aizver galvieni-->
        <div class="saturs">
            Informācija par doto projektu
            Šajā projektā es izveidoju atmiņas spēli, izmantojot HTML, CSS un JavaScript. Spēles galvenais mērķis ir atrast vienādus kartīšu pārus, trenējot atmiņu un uzmanību. Izstrādes laikā es izveidoju spēles laukumu, kartīšu loģiku un rezultātu skaitīšanu.

Projekta izstrādes procesā es iemācījos strādāt ar DOM elementiem un JavaScript notikumiem. Es apguvu, kā reaģēt uz lietotāja klikšķiem, salīdzināt vērtības un kontrolēt spēles gaitu. Tāpat es uzlaboju savas prasmes CSS stilēšanā, veidojot vizuāli pievilcīgu dizainu.

Veidojot šo projektu, es sapratu, kā savienot HTML struktūru, CSS dizainu un JavaScript funkcionalitāti vienā strādājošā programmā. Šī pieredze palīdzēja labāk izprast, kā tiek veidotas interaktīvas mājaslapas un spēles.






        </div><!--aizver saturs-->




    </div><!--aizver ietvars-->
</body>

<footer>Izvedoja Markuss Rubiks 2026</footer>



</html>